<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karloleary.multiscreen">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- main miwok app -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ColoursActivity"
            android:label="@string/colours_label"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".FamilyActivity"
            android:label="@string/family_label"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DestinationActivity"
            android:label="@string/numbers_label"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PhrasesActivity"
            android:label="@string/phrases_label"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- music player app -->
        <activity
            android:name="com.karloleary.player.PlayerActivity"
            android:label="@string/title_activity_player">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- multi pages app -->
        <activity android:name="com.karloleary.multipager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- tour guide app -->
        <activity
            android:name="com.karloleary.tourguide.MainActivity"
            android:label="Tour Guide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.karloleary.tourguide.FeaturesActivity"
            android:label="Features"
            android:parentActivityName="com.karloleary.tourguide.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.karloleary.tourguide.MainActivity" />
        </activity>
        <activity
            android:name="com.karloleary.tourguide.DetailsActivity"
            android:label="Details"
            android:parentActivityName="com.karloleary.tourguide.FeaturesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.karloleary.tourguide.FeaturesActivity" />
        </activity>

    </application>

</manifest>